* {
	font-family: "Raleway", sans-serif;
}

p {
	font-size: 15px;
	margin: 1.2em;
	line-height: 1.3em;
}
.no-pad-inner-rows .row {
    margin-top: 0;
    margin-bottom: 0;
}
.no-margin {
    margin: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.content > .row {
    padding: 40px 30px;
}
.row.centered {
   text-align: center;
   font-size: 0;
}
.row.centered > div {
   float: none;
   display: inline-block;
}
.on-top {
    z-index: 100;
}

.ecomm-dash {
    display: block;
    width: 24px;
    height: 2px;
    margin: 6px auto 20px;
    background: #333;
    text-shadow: 0 1px 2px rgba(0,0,0,.7);
}

.ecomm-title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 24px;
    word-wrap: break-word;
}

.ecomm-price {
    font-size: 20px;
}

/****************************
    Forms/Buttons
****************************/
.btn {
    font-family: "Gandhi Serif Regular",Times,"Times New Roman",serif
}
.form-group {
    overflow: hidden;
}
.form-group .btn.btn-info {
    float: none;
}
.form-group .btn.btn-info[type="submit"] {
    padding: 10px 10px 10px 0;
}
a.sbs-btn.arrow {
    background: url(/assets/images/paper-btn.png);
    background-size: 100% 100%;
    padding-right: 38px;
}
a.sbs-btn.arrow.btn-lg,
.form-group .btn.btn-info.btn-lg[type="submit"] {
    background: url(/assets/images/paper-btn-lg.png) no-repeat;
    width: 185px;
}
a.sbs-btn, .form-group .btn.btn-info {
    padding-top: 11px;
    padding-right: 18px;
}
a.sbs-btn.btn-lg {
    background: url(/assets/images/paper-btn02-lg.png) no-repeat;
    width: 185px;
}

.btn-ecomm {
    padding: 15px 50px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #000;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -ms-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}
.btn-ecomm:hover {
    border-color: #777777;
    color: #777777;
    -webkit-transition: all 0 ease-in;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-transition: all 0 ease-in;
    -ms-transition: all 0 ease-in;
    -o-transition: all 0 ease-in;
    transition: all 0 ease-in;
}

.help-block.has-error {
    display: none;
}
.help-block.has-error.filled {
    display: block;
}

/****************************
    Header
****************************/
.page-header h1#logo {
    margin-top: 0;
}
.page-header h2 {
    text-transform: uppercase;
}
.page-header .row {
    margin-bottom: 0;
}
.countdown_timer {
    margin-top: 15px;
    margin-bottom: 10px;
}
.countdown_timer > span {
    display: block;
}
.countdown_timer > span > span {
    font-size: 24px;
}
#days-remaining {
    margin-top: 10px;
}

#subscribe-form {
    margin-top: 20px;
}

.page-header h1#logo {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .page-header .pull-left {
        float: left !important;
    }
}

/****************************
    Cart Summary Dropdown
****************************/
ul.dropdown-cart {
    min-width: 250px;
}
ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
    clear: both;
}
ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}
ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
ul.dropdown-cart li .item-left,
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}
ul.dropdown-cart li .item-left img {
    max-width: 50px;
}
ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}
ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}
ul.dropdown-cart li .item-right {
    float: right;
}
#cartSummary:hover {
    text-decoration: none;
    cursor: pointer;
}

/****************************
    Footer
****************************/
#copyright {
    padding: 0;
    margin: 0;
}

footer .container {
    margin-top: 0;
    padding-top: 0;
}

/****************************
	Homepage
****************************/
.hp-ecomm-product {
	text-align: center;
    margin-bottom: 30px;
}
.hp-ecomm-product-info .ecomm-dash {
	height: 1px;
	background: #fff;
}
.hp-ecomm-product-info {
    position: absolute;
    margin: 0 auto;
    top: 30%;
    display: none;
}
.hp-ecomm-product-display {
    border: 3px solid #CDCDCD;
    padding: 0 20px 15px 20px;
    box-sizing: border-box;
}
.hp-ecomm-product-display a {
    text-decoration: none;
}
.hp-ecomm-product-display a:hover {
    text-decoration: underline;
}

/****************************
	Individual Product Page
****************************/
#ecomm-social {
	margin-top: 40px;
}

.ecomm-product-image {
    border: 3px solid #CDCDCD;
    padding: 0 20px 15px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.content .product a {
    text-decoration: underline;
}

/****************************
    Cart Page
****************************/
#cart-container table {
    width: 100%;
}
#cart-container a {
    text-decoration: none;
}
.remove-item i {
    font-size: 36px;
}
.remove-item:hover {
    cursor: pointer;
}
.cart-item {
    overflow: hidden;
}
.cart-item .item-img img {
    padding: 5px;
    border: 3px solid #CDCDCD;
}
.cart-item > td {
    padding-bottom: 40px;
}
.cart-item:last-child > td {
    padding-bottom: 0;
}
.cart-item .form-control {
    max-width: 70px;
    min-width: 70px;
}
#pricing-container table {
    width: 60%;
    margin: 0 auto;
    text-transform: lowercase;
    font-size: 14px;
}
#pricing-container table td {
    border: 0;
}
span.total {
    font-size: 20px;
}
#checkout-btn {
    margin-top: 20px;
}

/****************************
    Checkout Page
****************************/
#credit {
    margin-top: 10px;
}
.checkout .panel-title {
    overflow: hidden;
    line-height: 43px;
    margin-bottom: 0;
}
