/****** EMAIL CLIENT BUG FIXES - BEST NOT TO CHANGE THESE ********/
/* Forces Hotmail to display emails at full width. */
.ExternalClass {width:100%;}

/* Forces Hotmail to display normal line spacing. */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}

/* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}

/* Resets all body margins and padding to "0" for good measure. */
body {margin:0; padding:0;}

/* Resolves webkit padding issue. */
table {border-spacing:0;}

/* Resolves the Outlook 2007, 2010, and Gmail td padding issue. */
table td {border-collapse:collapse;}

/****** RESETTING DEFAULTS, IT IS BEST TO OVERWRITE THESE STYLES INLINE ********/
/* This sets a clean slate for all clients EXCEPT Gmail. Stick to margins because paragraph padding is
not supported by Outlook 2007/2010. Also, Hotmail does not support "margin" nor the "margin-top" properties.
Stick to "margin-bottom", "margin-left", "margin-right" in order to control spacing. Also consider setting top-margin
to "0" for consistancy in Gmail. */
p {margin:0; padding:0; margin-bottom:0; margin-top:0;}

/* This CSS will overwrite Hotmails default CSS and make your headings appear consistant with Gmail.*/
h1, h2, h3, h4, h5, h6 { line-height:100%;}

/****** EDITABLE STYLES - FOR YOUR TEMPLATE ********/
/* The "body" ID is defined here for Yahoo Beta/AOL because it does not support your body tag. Instead,
a wrapper div iaround your email will inherit embedded body styles.*/
body, #body_style {width:100% !important; font-family:Arial,Helvetica,sans-serif; font-size:13px; line-height:1.4;}

/* This is the embedded CSS link color for Gmail. This will overwrite Hotmail and Yahoo Beta's
   embedded link colors and make it consistent with Gmail. */
a {color:#114eb1; text-decoration:underline;}

/* Won't work for Gmail or older Lotus Notes but it's a nice addition for all other clients. */
a:link    {color:#114eb1; text-decoration:underline;}
a:visited {color:#183082; text-decoration:underline;}
a:focus   {color:#0066ff !important;}
a:hover   {color:#0066ff !important;}

/* A nice and clean way to target phone numbers you want clickable and avoid a mobile phone from
   linking other numbers that look like, but are not phone numbers. Use these two blocks of code to
   "unstyle" any numbers that may be linked. The second block gives you a class ".mobile_link" to apply
   with a span tag to the numbers you would like linked and styled.*/
a[href^="tel"], a[href^="sms"] {text-decoration:none; color:#486272; pointer-events:none; cursor:default;}
.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration:default; color:#6e5c4f !important; pointer-events:auto; cursor:default;}

/****** MEDIA QUERIES ********/
/* You must use attribute selectors in your media queries to prevent Yahoo from rendering these styles.
   We added a yahoo attribute in the body tag to complete this fix.*/

/* Target mobile devices. */
/* @media only screen and (max-device-width: 639px) { */
@media only screen and (max-width: 639px) {
    /* Hide elements at smaller screen sizes (!important needed to override inline CSS). */
    body[yahoo] .hide {display:none !important;}
    /* Adjust table widths at smaller screen sizes. */
    body[yahoo] .table {width:320px !important;}
    body[yahoo] .innertable {width:280px !important;}
    /* Resize page shadow at smaller screen sizes. */
    body[yahoo] .shadow {width:280px !important; height:4px !important;}
    /* Collapse cells at smaller screen sizes. */
    body[yahoo] .collapse-cell {width:320px !important;}
    /* Range social icons left at smaller screen sizes. */
    body[yahoo] .social-media img {float:left !important; margin:0 1em 0 0 !important;}
}
/* Target tablet devices. */
/* @media only screen and (min-device-width: 640px) and (max-device-width: 1024px) { */
@media only screen and (min-width: 640px) and (max-width: 1024px) {
}
/*** END EDITABLE STYLES ***/



/****** TEMPORARY - THESE SHOULD BE MOVED INLINE AT END OF YOUR DEVELOPMENT PROCESS ********/
img {display:block; border:none; outline:none; text-decoration:none;}
/* Remove spacing around Outlook 07, 10 tables */
table {border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;}
/*** END TEMPORARY ***/

body {
	width:100% !important;
	font-family: "Times New Roman", Times, sans-serif;
	font-size:13px;
	line-height:1.4;
}
td, th, h1, h2, h3, h4, h5, h6, p {
	font-family: "Times New Roman", Times, sans-serif;
}
h1 {
	font-size:24px;
	font-weight:400;
}
h3 {
	padding-top: 75px;
}
.lowercase {
	text-transform: lowercase;
}

#spacer-table{
	width:100% !important;
	margin:0;
	padding:0;
}
#wrapper-table {
	max-width: 600px;
}

#header {
	padding-top: 30px;
	padding-bottom: 40px;
}
#logo-container {
	padding-top: 25px;
}

.inner-padding {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.padding-right {
	padding-right: 25px;
}
.padding-left {
	padding-left: 25px;
}
.padding-top {
	padding-top: 25px;
}

#content-table{
	margin-bottom:1em;
}

#footer {
	padding-top: 30px;
}
#footer a {
	color:#ffffff;
	text-decoration:none;
}
#social-media {
	text-align: right;
}
#social-media img{
	padding-right: 1em;
}
.inner-table {
	width: 100%;
}
.inner-table > tr {
	text-align: left;
}
.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}
.center-align {
	text-align: center;
}
.product-img {
	max-width: 100px;
	margin-bottom: 10px;
}
