td, th, h1, h2, h3, h4, h5, h6, p {
	color: #486272;
	font-family: "Times New Roman", Times, Serif;
}
table {
	padding: 0 15px;
}
.header h1 {
	margin: 60px 0 0 0;
}
.header, .body, .footer {
	padding:15px;
	font-size:16px;
	line-height:22px;
}
.wrapperTable {
	width:600px;
	margin:0 auto;
	border:0;
}
.header {
	text-transform: lowercase;
	text-align: left;
	border-bottom: 1px solid #dbdbdb;
}
img {
	border:0;
}
h1 {
	font-size:24px;
	font-weight:400;
}
td, th {
	padding: 0 15px;
}
th {
	width:140px;
}
td.first {
	padding-top: 15px;
}
p {
	margin-top: 10px;
}
.footer {
	font-weight:400;
	font-size:13px;
	color:#486272;
	text-align: left;
	padding-bottom: 0;
}
.footer h1 {
	float: left;
	margin-top: 18px;
	letter-spacing: 6px;
}
.footer a {
	color:#486272;
	text-decoration:none;
}
.social-container {
	float: right;
}
.social-container img {
	margin-right: 15px;
}
.social-container img.last {
	margin-right: 0;
}