@font-face {
    font-family: 'Gandhi Serif Bold';
    src: url('/assets/fonts/gandhiserif-bold-webfont.eot');
    src: url('/assets/fonts/gandhiserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/gandhiserif-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/gandhiserif-bold-webfont.woff') format('woff'),
         url('/assets/fonts/gandhiserif-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/gandhiserif-bold-webfont.svg#gandhi_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gandhi Serif Italic';
    src: url('/assets/fonts/gandhiserif-italic-webfont.eot');
    src: url('/assets/fonts/gandhiserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/gandhiserif-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/gandhiserif-italic-webfont.woff') format('woff'),
         url('/assets/fonts/gandhiserif-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/gandhiserif-italic-webfont.svg#gandhi_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gandhi Serif Regular';
    src: url('/assets/fonts/gandhiserif-regular-webfont.eot');
    src: url('/assets/fonts/gandhiserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/gandhiserif-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/gandhiserif-regular-webfont.woff') format('woff'),
         url('/assets/fonts/gandhiserif-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/gandhiserif-regular-webfont.svg#gandhi_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dawing of a New Day';
    src: url('/assets/fonts/dawningofanewday-webfont.eot');
    src: url('/assets/fonts/dawningofanewday-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/dawningofanewday-webfont.woff2') format('woff2'),
         url('/assets/fonts/dawningofanewday-webfont.woff') format('woff'),
         url('/assets/fonts/dawningofanewday-webfont.ttf') format('truetype'),
         url('/assets/fonts/dawningofanewday-webfont.svg#gandhi_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hello Stockholm Regular';
    src: url('/assets/fonts/HelloStockholm-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hello Stockholm Alt';
    src: url('/assets/fonts/HelloStockholm-Alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Northwest Regular';
    src: url('/assets/fonts/NORTHWEST-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Northwest LightRust';
    src: url('/assets/fonts/NORTHWEST-LightRust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Northwest Bold';
    src: url('/assets/fonts/NORTHWEST-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Campground Regular';
    src: url('/assets/fonts/Campground-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CampPress Regular';
    src: url('/assets/fonts/CampPress-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cache';
    src: url('/assets/fonts/Balham.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * museo-sans:
 *   - http://typekit.com/eulas/00000000000000000000e800
 *   - http://typekit.com/eulas/00000000000000000000e801
 *   - http://typekit.com/eulas/00000000000000000000e7fe
 *   - http://typekit.com/eulas/00000000000000000000e802
 *   - http://typekit.com/eulas/00000000000000000000e803
 *   - http://typekit.com/eulas/00000000000000000000e804
 *   - http://typekit.com/eulas/00000000000000000000e805
 *   - http://typekit.com/eulas/00000000000000000000e806
 *   - http://typekit.com/eulas/00000000000000000000e807
 *   - http://typekit.com/eulas/00000000000000000000e808
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-04-25 14:51:05 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=akn4ktw&ht=tk&f=2003.2004.2005.2006.2007.2008.2009.2010.2011.2012&a=2977830&app=typekit&e=css");

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/0629e6/00000000000000000000e800/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/0629e6/00000000000000000000e800/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/0629e6/00000000000000000000e800/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-style:normal;font-weight:100;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/89e235/00000000000000000000e801/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/89e235/00000000000000000000e801/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/89e235/00000000000000000000e801/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
font-style:italic;font-weight:100;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/890b2d/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/890b2d/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/890b2d/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/ecdc7f/00000000000000000000e802/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/ecdc7f/00000000000000000000e802/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/ecdc7f/00000000000000000000e802/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-style:italic;font-weight:300;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/e8555b/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/e8555b/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/e8555b/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/f0b84c/00000000000000000000e804/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/f0b84c/00000000000000000000e804/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/f0b84c/00000000000000000000e804/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-style:italic;font-weight:500;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/fcfa0b/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/fcfa0b/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/fcfa0b/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/e1860e/00000000000000000000e806/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e1860e/00000000000000000000e806/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e1860e/00000000000000000000e806/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/a7301e/00000000000000000000e807/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/a7301e/00000000000000000000e807/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/a7301e/00000000000000000000e807/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-style:normal;font-weight:900;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/36b995/00000000000000000000e808/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/36b995/00000000000000000000e808/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/36b995/00000000000000000000e808/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-style:italic;font-weight:900;
}
/****************************
	Global Styles
****************************/
html {
	height: 100%;
}
body{
  font-family: "museo-sans";
}
body.splash{
}
body{
}
img{
	display:block;
	max-width:100%;
	height:auto;
}
h1, h2, h3, h5, h6{
	color:#333;
}
h4{
  font-size:14px;
  font-weight: bold;
  letter-spacing: 1px;
}
h1{
  text-transform:uppercase;
  letter-spacing: 3px;
  font-size:22px;
  font-family: "Cache" !important;
	margin: 10px 0 20px;
}
h2{
  letter-spacing: 1px;
  font-size:20px;
}
p{
  font-family: "museo-sans";
  font-size:13px;
	color:#333;
}
ul{
	list-style:url(/assets/images/li-dash.png);
	padding:0 0 0 20px;
}
label{
	font-size:14px;
	font-weight:normal;
	color:#333;
}
a{
	color:#413f3f;
}
a:hover {
	color: black;
}
small, .small {
	font-size: 75%;
}
.rel-position {
	position: relative;
}
.tk-museo-sans {
  font-family: "museo-sans";
}
.width-100 {
	width: 100%;
}
.row {
	margin-top:30px;
	margin-bottom:30px;
}

.mt-0 {
	margin-top: 0;
}
.mb-0 {
	margin-bottom: 0;
}
.mr-10 {
	margin-right: 10px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-100 {
	margin-top: 100px;
}
.pull-none {
	float: none !important;
}
.no-overflow {
	overflow: hidden;
}
.content a {
	text-decoration: underline;
}
.content a:hover {
	text-decoration: underline;
}
.content > .row{
	background:#fdfdfd;
}
.content .row .main-img h4{
	text-transform:lowercase;
	background:url(/assets/images/ppr-banner02.png) no-repeat;
	padding:11px 20px;
	margin-bottom:-35px;
	margin-left:-20px;
	position:relative;
	max-width:309px;
	text-align:center;
}
.modal-header a {
	text-decoration: none;
}
.special-case{

}
.breadcrumb {
	background-color: transparent;
	text-transform: lowercase;
}
.breadcrumb.hidden-breadcrumb {
	margin-bottom: 20px;
	padding: 5px 15px;
}
.breadcrumb a {
	text-decoration: none;
	color: white;
}
.breadcrumb>li+li:before {
	content: ">";
	color: white;
}
.breadcrumb>.active {
	color: white;
}

.upload-container {
	border: 2px dotted #999; padding: 15px 10px;
}
.upload-container h5 {
	line-height: 20px;
}
.no-underline {
	text-decoration: none !important;
}

.alert-gray {
	background: #D2BAB8;
}

.alert a:hover {
	text-decoration: none;
}

/****************************
	Header
****************************/
.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 202px;
}

.S-centered {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.S-top-right {
    position: absolute;
    text-align: right;
    top: 25px;
    right: 30px;
}

.centered {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.top-right {
    position: absolute;
    text-align: right;
    top: 50px;
    right: 30px;
}
.image-wrapper {
    position: relative;
    text-align: center;
    color: white;
}



.page-header{
	border:none;
}
.page-header h1#Frat-logo{
	/* background:url(/assets/images/Fratlogo2.png) no-repeat; */
  /* height:170px; */
  /* max-height:170px; */
  /* max-width:170px; */
  /* text-indent:-10000px; */
  z-index: -999;
  clear: both;
}
.frat-wrapper-footer-lg{
	background:url(/assets/images/NewFStretchFooter.png);
  position: absolute;
  background-size: contain;
  height:75px;
  /* max-height:170px; */
  width:100%;
  /* z-index:; */
  /* clear: both; */
	margin:300px auto 0;
}
.frat-wrapper-footer-md{
	background:url(/assets/images/NewFStretchFooter.png);
  position: absolute;
  background-size: contain;
  height:75px;
  /* max-height:170px; */
  width:100%;
  /* z-index:; */
  /* clear: both; */
	margin:263px auto 0;
}
.frat-wrapper-footer-sm{
	background:url(/assets/images/NewFStretchFooter.png);
  position: absolute;
  background-size: contain;
  height:75px;
  /* max-height:170px; */
  width:100%;
  /* z-index:; */
  /* clear: both; */
	margin:225px auto 0;
}
.frat-wrapper-footer-xs{
	background:url(/assets/images/NewFStretchFooter.png);
  position: absolute;
  background-size: contain;
  height:75px;
  /* max-height:170px; */
  width:100%;
  /* z-index:; */
  /* clear: both; */
	margin:200px auto 0;
}

.frat-wrapper-breadcrub{
	background:url(/assets/images/NewFStretch.jpg);
  position: absolute;
  height:170px;
  max-height:170px;
  width:100%;
  z-index: -999;
  clear: both;
	margin:-20px auto 0;
}
.fraternity-slideshow-banner{
  background:url(/assets/images/NewFHomepageDivider.jpg) no-repeat;
  width:100%;
  background-size: contain;
  height: calc(15px + 10vw);
  max-height: 140px;
}

.fraternity-slideshow-banner-2{
  background:url(/assets/images/NewFSlideshow3-1.jpg) no-repeat;
  width:100%;
  background-size: contain;
  height: calc(15px + 17vw);
  /* max-height: 15vw; */
  overflow: hidden;
  white-space: nowrap;
  max-height: 260px;
}
.fraternity-slideshow-banner-half{
  background:url(/assets/images/NewFSlideshow3-1.jpg) no-repeat;
  width:100%;
  background-size: contain;
  height: calc(15px + 17vw);
  /* max-height: 15vw; */
  overflow: hidden;
  white-space: nowrap;
  max-height: 225px;
}

.sorority-slideshow-snap{
  background:url(/assets/images/NewSnapHomepageDivider.jpg) no-repeat;
  width:100%;
  background-size: contain;
  height: calc(5px + 5.5vw);
  max-height: 140px;
}

.sorority-slideshow-banner{
  background:url(/assets/images/NewSHomepageDivider.jpg) no-repeat;
  width:100%;
  background-size: contain;
  height: calc(15px + 10vw);
  max-height: 140px;
}

.soroity-slideshow-banner-2{
  background:url(/assets/images/NewSSlideshow3-1.jpg) no-repeat;
  width:100%;
  background-size: contain;
  height: calc(15px + 17vw);
  /* max-height: 15vw; */
  overflow: hidden;
  white-space: nowrap;
  max-height: 350px;
}


.fraternity-slideshow{
  max-height:400px;
  width:100%;
}
.fraternity-slideshow-2{
  max-height:450px;
  width:100%;
}

.page-header h1#logo{
	/* background:url(/assets/images/sorlogo.jpg) no-repeat; */
  /* height:170px; */
/* max-height:170px; */
/* max-width:170px; */
/* text-indent:-10000px; */
z-index: -999;
/* margin:20px auto 0; */
clear: both;
	/*text-indent:-10000px;*/
	/* margin:0px auto 0; */
}
.page-header .top-nav {
	overflow: hidden;
	padding: 0;
}
.page-header .top-nav li{
	font-size:17px;
	list-style:none;
	float:left;
	text-transform:lowercase;
	padding: 0 10px;
	border-right:1px solid #808f98;
}
.page-header .top-nav li:last-child{
	border:none;
}
.page-header .top-nav li a{
	color:#333;
}

/****************************
	Main Navigation
****************************/
nav.navbar{
	border-top:1px solid #C4C4C4;
	border-bottom:1px solid #C4C4C4;
}
nav.navbar .navbar-wrpr{
	position:relative;
	left: 50%;
	float:left;
}
nav.navbar ul#main-nav{
	position:relative;
	left:-50%;
	float:left;
}
nav.navbar a{
	color:#333;
}
/*
#search-bar {
	position: absolute;
    top: -2px;
    right: 0px;
}
*/
#search-bar input {
	background: transparent;
	border: 0;
	background: url('/assets/images/search-icon.png') 195px 2px no-repeat;
	outline: 0;
	padding-right: 30px;
}
input, select,textarea{
  letter-spacing: 1px;
  font-family:"museo-sans" !important;
  /* text-transform:uppercase !important; */
  font-size:11px !important;
}
.nav > li > a {
	padding: 0px 15px;
}
nav.navbar ul#main-nav li > ul{
	display:none;
}

/****************************
	Footer
****************************/
footer .container{
	border:none;
}
#copyright{
	clear:both;
	font-size:15px;
	padding:10px 0 0 0;
}
#footer-nav{
	padding:0;
}
#footer-nav li{
	font-size:15px;
	list-style:none;
	float:left;
	padding: 0 10px;
	border-left:1px solid #808f98;
	text-transform:lowercase;
}
#footer-nav li:first-child{
	padding-left: 0;
	border:none;
}
#footer-nav li a{
	color:#333;
}
#footer-nav li > ul{
	display:none;
}
.foot-info{
	background:url(/assets/images/social-bg.png) no-repeat 0 100%;
	min-width:280px;
}
.foot-info .olp-seal{
	float:left;
	margin:0 0 10px 0;
}
.foot-info .clp-seal{
	float: left;
	margin: 6px 10px 0 0;
	height: 50px;
}
.social-nav{
	float:left;
	list-style:none;
	margin:28px 0 0 15px;
	padding:0;
}
.social-nav li{
	float:left;
	margin:0 7px;
}

#livechat-compact-container {
	height: 50px !important;
}

#livechat-compact-view {
	top: 0px !important;
}

/****************************
	Global Elements
****************************/
.banner-title2{
	text-transform:lowercase;
	background:url(/assets/images/ppr-banner02.png) no-repeat;
	padding:11px 20px;
	max-width:309px;
	margin:20px auto;
	text-align:center;
}

.arrow-single-left {
	background:url(/assets/images/arrow-single-left.png) no-repeat 100% 60%;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.arrow-single-right {
	background:url(/assets/images/arrow-single-right.png) no-repeat 100% 60%;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.arrow-dbl-left {
	background:url(/assets/images/arrow-dbl-left.png) no-repeat 100% 60%;
	display: inline-block;
	height: 10px;
	width: 15px;
}
.arrow-dbl-right {
	background:url(/assets/images/arrow-dbl-right.png) no-repeat 100% 60%;
	display: inline-block;
	height: 10px;
	width: 15px;
}
.arrow-triple-left {
	background:url(/assets/images/arrow-triple-left.png) no-repeat 100% 60%;
	display: inline-block;
	height: 10px;
	width: 36px;
}
.arrow-triple-right {
	background:url(/assets/images/arrow-triple-right.png) no-repeat 100% 60%;
	display: inline-block;
	height: 10px;
	width: 36px;
}
.arrow-down {
	background:url(/assets/images/arrow-down.png) no-repeat 100% 60%;
	display: inline-block;
	height: 10px;
	width: 10px;
}

/****************************
	Landing/Splash Page
****************************/
.landing-page {
	color:#3c5364;
	height: 52%;
	display: table;
}
/* .landing-page .lrg-logo{
	margin:20px auto;
} */
.landing-page .row {
	display: table-row;
}
.landing-page .row .inner-row {
	display: table-cell;
	vertical-align: middle;
}
.landing-page h1{
	text-align:center;
	text-transform:lowercase;
	margin:40px 0;
}
.landing-page .hp-links a:not(:last-child) {
	border-right: 1px solid #8A8887;
	padding-right: 60px;
}
.landing-page .hp-links a:last-child {
	padding-left: 50px;
}
.landing-page .lrg-link {
	font-size:32px;
	text-transform:lowercase;
	color: #8A8887;
}
.landing-page .lrg-btn {
	display:block;
	text-align:center;
	font-size:30px;
	border:3px solid #BAA2A1;
	text-transform:lowercase;
	color:#13f3f;
	padding:30px 10px;
	width:100%;
	max-width:320px;
	margin:0 auto;
}
.landing-page .lrg-btn:hover{
	background-color: #CDCDCD;
	text-decoration:none;
}
.landing-page .row.btns{
	margin-bottom:100px;
}

/****************************
	Home Page
****************************/
.grey-bg-rtt{
	position:relative;
}
/*
.lrg-ft-img:before{
	background:url(/assets/images/blue-bdr-v1.png) no-repeat;
	position:absolute;
	top:0;
	left:10px;
	content:"";
	width:18px;
	height:100%;
}
.lrg-ft-img:after{
	background:url(/assets/images/blue-bdr-v2.png) no-repeat;
	position:absolute;
	top:0;
	right:10px;
	content:"";
	width:18px;
	height:100%;
}
*/
.lrg-ft-img img{
	margin:0 auto;
}
.bnr-ttl{
	background:url(/assets/images/ppr-banner.png) no-repeat 100% 0;
	float:right;
	text-align:right;
	position:relative;
	box-sizing:border-box;
	width:100%;
	padding:10px 20px 8px;
	margin:-10px -10px -20px -10px;
}
.sm-ft-img .bnr-ttl{
	background-size:100% 38px;
	margin:-10px -5% -20px;
	width:110%;
}
.bnr-ttl a{
	background:url(/assets/images/arrow-dbl-left.png) no-repeat 100% 50%;
	padding:0 30px 0 0;
}
.bnr-ttl-btm{
	margin:-25px -5% -10px;
}

.img-full {
	width: 100%;
}

/****************************
	Forms/Buttons
****************************/
.has-error .control-label,
.has-error .help-block {
	color: inherit;
}
.help-block.has-error {
	color: #a94442;
}
.form-control{
	border-radius: 2px;
	height: 30px;
	padding: 4px 12px;
	color:#333;
}
.form-control[type="file"]{
	padding: 0 12px 0 0;
	border:none;
	box-shadow: none;
}
.form-control h4 {
	font-size: 20px;
}
.form-group .help-block{
  font-family: "museo-sans";
  font-size:13px;
  color: #333;
}
.form-group .help-block.has-error{
	color: #a94442;
}
a.sbs-btn,
.form-group .btn.btn-info{
	background:url(/assets/images/click-to-add-files-corp.jpg) no-repeat;
	background-size: 100% 100%;
	padding:9px 16px 7px;
	color:#333;
	border:none;
	font-size:16px;
	min-width: 129px;
	text-transform:uppercase;
	text-decoration: none;
}
a.sbs-btn,
.form-group .btn.btn-info2{
	background:url(/assets/images/click-to-add-style.jpg) no-repeat !important;
  background-size: 100% 100%;
	padding:9px 16px 7px;
	color:#333;
	border:none;
	font-size:16px;
	min-width: 129px;
	text-transform:uppercase;
	text-decoration: none;
}
.form-group .btn.btn-info{
	float:right;
}
.form-group .btn.btn-info2{
	float:right;
}
.form-group .frat-special.btn.btn-info[type="submit"] {
	background:url(/assets/images/NewFSubmit.jpg) no-repeat !important;
  background-size: contain;
  transform: scale(.8, .8);
  margin-right: -30px;
	padding:75px 300px 15px 0px;
	/* width:229px; */
}
.form-group .btn.btn-info[type="submit"]{
	background:url(/assets/images/corp-submit-new.jpg) no-repeat;
  background-size: contain;
  transform: scale(.75, .75);
  margin-right: -30px;
	padding:75px 200px 15px 0px;
	/* width:229px; */
}
a.sbs-btn:hover,
.form-group .btn.btn-info:hover{
	text-decoration: none;
}
a.sbs-btn:hover,
.form-group .btn.btn-info2:hover{
	text-decoration: none;
}
a.new-btn-sm {
	background:url(/assets/images/btn-sm.png) no-repeat;
	background-size: 100% 100%;
	padding:15px;
	color:#696163;
	border:none;
	font-size:18px;
	min-width: 130px;
	text-transform:lowercase;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family:"Gandhi Serif Italic", "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 500;
}

a.new-btn-lrg {
	background:url(/assets/images/btn-lrg.png) no-repeat;
	background-size: 100% 100%;
	padding:15px;
	color:#696163;
	border:none;
	font-size:18px;
	min-width: 100%;
  min-height: 50px;
	text-transform:lowercase;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family:"Gandhi Serif Italic", "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 500;
}

a.new-btn-lrg-designs {
	background:url(/assets/images/blank-large-button.png) no-repeat;
	background-size: 100% 100%;
	padding:15px;
	color:white;
	border:none;
	font-size:18px;
	min-width: 100%;
	text-transform:lowercase;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family:"Gandhi Serif Italic", "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 500;
}

a.new-btn-lrg-apparel {
	background:url(/assets/images/blank-large-button.png) no-repeat;
	background-size: 100% 100%;
	padding:1px;
	color:white;
	border:none;
	font-size:18px;
	min-width: 100%;
  min-height: 48px;
	text-transform:lowercase;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family:"Gandhi Serif Italic", "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 500;
}
a.new-btn-lrg-accessories {
	background:url(/assets/images/blank-small-button.png) no-repeat;
	background-size: 100% 100%;
	padding:15px;
	color:white;
	border:none;
	font-size:18px;
	min-width: 100%;
  min-height: 50px;
	text-transform:lowercase;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family:"Gandhi Serif Italic", "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 500;
}
a.new-btn-lrg-proof-request {
	background:url(/assets/images/blank-small-button.png) no-repeat;
	background-size: 100% 100%;
	padding:15px;
	color:white;
	border:none;
	font-size:18px;
	min-width: 100%;
  min-height: 50px;
	text-transform:lowercase;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family:"Gandhi Serif Italic", "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 500;
}

.picker thead {
	background: transparent;
}

.picker th {
	text-align: center;
}

.picker select {
	height: 60px;
}


/*** custom checkboxes ***/
.custom-checkbox input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.custom-checkbox input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.custom-checkbox input[type=checkbox] + label:before {
	content: "\f096";
	letter-spacing: 10px;
	font-size: 20px;
}

.custom-checkbox input[type=checkbox]:checked + label:before {
	content: "\f046";
	letter-spacing: 5px;
	font-size: 20px;
}

/*** custom radio ***/
.custom-radio input[type=radio] { display:none; } /* to hide the radio itself */
.custom-radio input[type=radio] + span:before {
  font-family: FontAwesome;
  display: inline-block;
}

.custom-radio input[type=radio] + span:before {
	content: "\f10c";
	letter-spacing: 10px;
	font-size: 20px;
}

.custom-radio input[type=radio]:checked + span:before {
	content: "\f05d";
	letter-spacing: 5px;
	font-size: 20px;
}

/****************************
	Product/Design Pages
****************************/
.product{
	border:3px solid #CDCDCD;
	padding: 0 20px 15px 20px;
	box-sizing:border-box;
}
.product a {
	text-decoration: none;
}
.product form a {
	text-decoration: underline;
}
.product img{
	margin:0 auto;
}
.product h4{
	text-transform:lowercase;
	font-size:16px;
	text-align:center;
	height: 50px;
}
.product a.view-more{
	background:url(/assets/images/arrow-dbl-left.png) no-repeat 100% 50%;
	padding:5px 30px 5px 0;
	margin-right:-10px;
	text-align:right;
	font-size:15px;
	display:block;
}
.category img{
	max-width: 100%;
	margin: 0 auto;
}
.category-title,
.bnr-ttl5-f-cm{
	background:url(/assets/images/CM-Fraternity.jpg) no-repeat 50% 0;
	background-size:100% 100%;
	text-align:center;
	box-sizing:border-box;
	width:100%;
	padding:22px 20px;
	clear:both;
	text-transform: uppercase;
}
.bnr-ttl5-f-cm:before{
	content: "";
	display:block;
	height:0;
	clear:both;
}
.category-title,
.bnr-ttl5-s-cm{
	background:url(/assets/images/CM-Sorority.jpg) no-repeat 50% 0;
	background-size:100% 100%;
	text-align:center;
	box-sizing:border-box;
	width:100%;
	padding:10px 20px;
	clear:both;
  text-transform: uppercase;
  font-family: "Cache";
}
.bnr-ttl5-s-cm:before{
	content: "";
	display:block;
	height:0;
	clear:both;
}
.category-title,
.bnr-ttl3{
	background:url(/assets/images/ppr-banner03.png) no-repeat 50% 0;
	background-size:100% 100%;
	text-align:center;
	box-sizing:border-box;
	width:100%;
	padding:12px 20px;
	clear:both;
	text-transform: lowercase;
}
.bnr-ttl3:before{
	content: "";
	display:block;
	height:0;
	clear:both;
}
.category-title,
.bnr-nttl4{
	background-color: #EAEEEF;
	background-size:100% 100%;
	text-align:center;
	box-sizing:border-box;
	width:100%;
	padding:12px 20px;
	clear:both;
	text-transform: lowercase;
}
.bnr-nttl4:before{
	content: "";
	display:block;
	height:0;
	clear:both;
}
.bnr-nttl3{
	background:url(/assets/images/NewSBanner.jpg) no-repeat 50% 0;
	background-size:100% 100%;
	text-align:center;
	box-sizing:border-box;
	width:100%;
	padding:12px 20px;
	clear:both;
	text-transform: lowercase;
}
.bnr-nttl3:before{
	content: "";
	display:block;
	height:0;
	clear:both;
}
.social-share {
	left: 50%;
	float: left;
	position: relative;
	margin: 10px 0 20px;
}
.social-share ul{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: -50%;
	float: left;
}
.social-share li{
	float: left;
	margin:10px;
	height: 32px;
	width: 32px;
	display: block;
	cursor: pointer;
}
.facebook-icon,
.st_facebook_custom {
	background: url('/assets/images/fb03.png') no-repeat scroll left top transparent;
}
.pinterest-icon,
.st_pinterest_custom {
	background: url('/assets/images/pnt03.png') no-repeat scroll left top transparent;
}
.twitter-icon,
.st_twitter_custom {
	background: url('/assets/images/tw03.png') no-repeat scroll left top transparent;
}
.instagram-icon,
.st_instagram_custom {
	background: url('/assets/images/inst03.png') no-repeat scroll left top transparent;
}
#color-label {
	text-transform: lowercase;
}
#colors{
	list-style:none;
	margin:0;
	padding:5px 0;
}
#colors:after{
	content: "";
	clear:both;
	height:0;
	display:block;
}
#colors li{
	border:1px solid #eaeaec;
	float:left;
	margin:3px;
}
#colors li.active,
#colors li:hover{
	border:1px solid #3a3a3a;

}
#colors li span.color-swatch {
	display: block;
	width: 20px;
	height: 20px;
}
#colors li img.color-swatch-image {
	height: 20px;
}
#model-image img {
	width: 80%;
}

/****************************
	Catalog/Flibook Page(s)
****************************/
a.wowbook-control {
	text-decoration: none;
}
a.wowbook-control:hover {
	text-decoration: none;
}
.wowbook-book-container {
	overflow: hidden;
}
.wowbook-controls {
	box-shadow: none;
	background: #fff;
	background-image: none;
	color: #333;
}
.wowbook-control:active, .wowbook-control:hover {
	background: #ccc;
	color: #333;
}
.wowbook-share-buttons {
	background: #fff;
	color: #333;
}

.wowbook-nav {
	background: rgba(0, 0, 0, 0.3);
	height: 97%;
}
.wowbook-nav-left {
	left: 0;
}
.wowbook-nav-right {
	right: 0;
}
.wowbook-nav:active, .wowbook-nav:hover {
	background: rgba(0, 0, 0, 0.5);
}

.wowbook-container.fullscreen .wowbook-controls  {
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
}

.wowbook-container.fullscreen .wowbook-control:active,
.wowbook-container.fullscreen .wowbook-control:hover {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
}

.wowbook-container.fullscreen .wowbook-clipper .wowbook-control:active,
.wowbook-container.fullscreen .wowbook-clipper .wowbook-control:hover {
	background: #333;
}

/****************************
	Reps Page(s)
****************************/
.social {
	display: block;
	text-align: left;
	margin-bottom: 10px;
	line-height: 2em;
}
.social img {
	float: left;
	margin-right: 10px;
}
#school-listing .rep-container {
	overflow: hidden;
	border-bottom: 1px solid #afaaaa;
	line-height: 20px;
}
#school-listing .rep-name {
	margin-top: 10px;
}
#school-listing .rep-school {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 13px;
}
.campus-rep-social,
.campus-rep-social img {
	display: inline-block;
}
.campus-rep-social img {
	float: none;
}

/****************************
	Proof Request Page(s)
****************************/
#upload-container {
	margin-top: 0;
	margin-bottom: 0;
}
.proof-request #uploaded-images {
	padding: 0 10px;
}
#uploaded-images {
	margin-top: 10px;
	margin-bottom: 0;
}
#uploaded-images .thumbnail-img {
	margin-bottom: 20px;
	position: relative;
}

#uploaded-images .thumbnail-img img {
	margin: 0 auto;
}
#uploaded-images .delete-img {
	position: absolute;
	right: -1px;
	top: -10px;
}
#upload-btn {
	cursor: pointer;
}
#uploaded-images .filename {
	padding: 10px 25px;
	text-align: center;
	border: 2px solid #ccc
}

/****************************
	Final Submission Page(s)
****************************/
#final-submission-form .dropdown-toggle.filter-btn {
	text-align: left;
	white-space: normal;
}

#final-submission-form .multiselect-container {
	width: 100%;
}

#final-submission-form .dropdown-menu>.active>a,
#final-submission-form .dropdown-menu>.active>a:hover,
#final-submission-form .dropdown-menu>.active>a:focus {
	background-color: #ddd;
}

#final-submission-form .multiselect-container > li > a {
	text-decoration: none;
}

#final-submission-form .size-group-container {
	background: #b8d1d1;
	padding: 20px;
	margin-top: 20px;
}

/****************************
	Search
****************************/
#search-form .radio-inline {
	margin-right: 10px;
}
.autocompleter, .autocompleter-hint {
	position: relative;
}
.autocompleter-wrapper {
	position: absolute;
	min-width: 100%;
	background: #fff;
	z-index: 1;
	border: 1px solid #333;
	border-top: none;
}

.autocompleter-list li {
	padding: 4px 12px;
	font-size: 14px;
}
.autocompleter-list li:hover {
	color: #fff;
	background: #1E90FF;
}

.search-results-section.has-results {
	padding-bottom: 80px;
}

/****************************
	FAQ
****************************/
.faq div.spoiler{
	border:2px solid #CDCDCD;
	margin-bottom: 10px;
}
.faq div.spoiler div.spoiler-title{
	background:none;
	font-size: 18px;
	font-weight: normal;
	color: inherit;
	border: none;
}
.faq div.spoiler div.spoiler-content{
	background: none;
	border-radius: 0;
	font-size: 16px;
	border-top: 1px solid #CDCDCD;
	border-right:none;
	border-bottom:none;
	border-left:none;
	margin-top: 5px;
	padding: 3px 15px;
}

/****************************
	Sidebars
****************************/
.sidebar,
.account-sidebar,
.contact-sidebar{
	text-align:center;
	color:#333;
	padding:1px 10px 20px;
	margin-bottom: 30px;
}
h3.wgt-title{
	/*font-family:"Dawing of a New Day", "Times New Roman", serif;*/
  font-family:"Cache", "Times New Roman", serif;
	text-transform:uppercase;
	font-size:28px;
	position:relative;
	padding:0 5px;
	margin-bottom:20px;
	display:inline-block;
}
h3.wgt-title-hello-alt{
	font-family:"Cache", "Times New Roman", serif;
	text-transform:uppercase;
	font-size:28px;
	position:relative;
	padding:0 5px;
	margin-bottom:20px;
	display:inline-block;
}
h3.wgt-title-hello-reg{
	font-family:"Cache", "Times New Roman", serif;
  text-transform:uppercase;
	font-size:28px;
	position:relative;
	padding:0 5px;
	margin-bottom:20px;
	display:inline-block;
}
.contact-sidebar a,
.sidebar a {
	text-decoration: none;
}
.sidebar .categories{
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
	text-transform:lowercase;
}
.sidebar .categories li{
	padding:8px 20px 5px 20px;
}
.sidebar .categories li:last-child{
	border-bottom:0;
}
.filter .btn {
	padding: 6px 3px 6px 4px;
	height: 35px;
	line-height: 15px;
}
.sidebar .filter-group .filter-btn:hover,
.sidebar .filter-group .filter-btn:focus,
.sidebar .filter-group .filter-btn:active,
.sidebar .filter-group .filter-btn.active,
.sidebar .filter-group .open >.dropdown-toggle.filter-btn {
	background:url(/assets/images/arrow-down.png) no-repeat 96% 50% #ffffff;
	background-color: #fff;
}
.sidebar .filter-btn {
	border:1px solid #e3eded;
	padding:6px 30px 5px 10px;
	background:url(/assets/images/arrow-down.png) no-repeat 96% 50% #ffffff;
	color: #333;
	font: 16px/20px "Gandhi Serif Regular", Times, "Times New Roman", serif;
	text-align: left;
	text-transform:lowercase;
}

.sidebar .filter-group .form-control {
	height: 35px;
}

.contact-sidebar h4{
	font-family:"Gandhi Serif Bold", "Times New Roman", Times, serif;
	margin:0;
}
.contact-sidebar p{
	color:#333;
}
ul.social-sb{
	list-style:none;
	margin:0;
	padding:0;
	width:	200px;
	margin:-10px auto 0;
	text-transform: lowercase;
	text-align:left;
}
ul.social-sb .tw a{
	background:url(/assets/images/tw-blue.png) no-repeat 0 10px;
	padding:12px 0 5px 34px;
	display:block;
}
ul.social-sb .fb a{
	background:url(/assets/images/fb-blue.png) no-repeat 0 10px;
	padding:13px 0 5px 34px;
	display:block;
}
ul.social-sb .pn a{
	background:url(/assets/images/pn-blue.png) no-repeat 0 10px;
	padding:12px 0 5px 34px;
	display:block;
}
ul.social-sb .is a{
	background:url(/assets/images/is-blue.png) no-repeat 0 10px;
	padding:13px 0 5px 34px;
	display:block;
}
.multiselect-container{
	max-width: 100%;
}
.multiselect-container > li > a{
	white-space: normal;
}
.account-sidebar a.sbs-btn {
	font-size: 15px;
	width: 220px;
}

/****************************
	Pagination
****************************/
.sbs-paging .pagination {
	margin: 10px 0;
}
.sbs-paging .pagination > li > a {
	border: none;
	color: #333;
	padding: 0px 1px;
	margin: 0 6px;
}
.sbs-paging .pagination > li > a:hover {
	background-color: transparent;
	text-decoration: none;
	border-bottom: 1px solid #333;
}
.sbs-paging .pagination > .active > a,
.sbs-paging .pagination > .active > span,
.sbs-paging .pagination > .active > a:hover,
.sbs-paging .pagination > .active > span:hover,
.sbs-paging .pagination > .active > a:focus,
.sbs-paging .pagination > .active > span:focus {
	border-bottom: 1px solid #333;
	color: #333;
	background-color: transparent;
}

/****************************
	Media Queries
****************************/
@media screen and (max-width:1200px){
	h3.wgt-title {
		font-size: 26px;
	}
	.landing-page .hp-links a:not(:last-child) {
		padding-right: 40px;
	}
	.landing-page .hp-links a:last-child {
		padding-left: 30px;
	}
	.sm-ft-img {
		margin-top: -13px;
	}
}
@media screen and (max-width:992px){
	.col-md-6{
		margin-top:30px;
		margin-bottom:30px;
	}
	.contact-sidebar{
		margin-top:15px;
	}
	#footer-nav li {
		font-size: 14px;
	}
	footer .container .row .col-lg-7{
		padding: 0;
	}
	.landing-page .lrg-link {
		font-size: 28px;
	}
	.landing-page .hp-links a:not(:last-child) {
		padding-right: 25px;
	}
	.landing-page .hp-links a:last-child {
		padding-left: 15px;
	}
	.sm-ft-img {
		margin-top: 0px;
	}
}
@media screen and (max-width:768px){
	/* .landing-page img.lrg-logo {
		width: 80%;
	} */
	.landing-page .row {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.col-md-9 .row{
		margin:0;
	}
	.product{
		margin-bottom:30px;
	}
	.landing-page .lrg-link {
		font-size: 28px;
	}
	.landing-page .hp-links a:not(:last-child) {
		padding-right: 30px;
	}
	.landing-page .hp-links a:last-child {
		padding-left: 20px;
	}
	.page-header .pull-left{
		float: none !important;
	}
	.page-header .pull-left .top-nav{
		position: relative;
		left: -50%;
		float:right;
		padding-bottom: 20px;
	}
	.page-header .pull-left .top-nav:after{
		content: "";
		clear: both;
		height: 0;
		display: block;
	}
	.page-header .pull-left .top-nav li{
		position: relative;
		left: 50%;
	}
	.navbar{
		padding: 0 20px;
	}
	footer .container{
		margin-top: 0;
	}
	footer .container .row{
		margin-top: 0;
	}
	#mainFooter .col-md-7{
		padding: 0;
	}
}
@media screen and (max-width:480px){
	.col-xs-6.sm-ft-img{
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	.row.btns .col-xs-offset-1,
	.row.btns .col-xs-offset-2{
		margin-left:3.5%;
	}
	.row.btns .col-xs-4{
		width:45%;
	}
	.landing-page .lrg-btn{
		font-size:20px;
		padding:15px 10px;
	}
	.landing-page .lrg-link{
		font-size:20px;
	}
	#footer-nav li{
		float:none;
		border-left:1px solid #808f98;
		margin-bottom: 5px;
	}
	#footer-nav li:first-child{
		float:none;
		border-left:1px solid #808f98;
		padding: 0 10px;
	}
}
