p {
	color: #717171;
}

.page-header .nav {
	margin-bottom: 0;
}
.page-header #logo {

}

.nav .nav-header {
	padding-left: 0;
}

footer .container {
	border-top: 1px solid #eee;
	margin-top: 22px;
	padding-top: 10px;
}
footer #copyright {
	margin-top: 8px;
}

/************************************************************
 Validation Error Styling
*************************************************************/
.form-error {
	background: transparent url(/assets/images/validation_right.png) no-repeat 100% 0 scroll;
	cursor: default;
	padding: 17px 10px;
	z-index:100;
 }
 .form-error p {
	background: transparent url(/assets/images/validation_left.png) no-repeat 0 0 scroll;
	color: #000;
	display: inline;
	margin: 0 0 0 -15px;
	overflow: hidden;
	padding: 19px 14px;
}

.ie9 .form-error p,
.ie8 .form-error p,
.ie7 .form-error p {
	padding: 20px 14px;
}