/********************************************************************************
Overrides for Bootstrap and Admin Theme
*********************************************************************************/
.nav-tabs-custom .nav>li>a.nav-tabs-custom-btn {
  padding: 3px 10px;
}

.skin-blue .logo {
	background-color: #0093CA;
}
.skin-blue .logo:hover {
	background-color: #0085B7;
}
.form-box .header,
.skin-blue .navbar {
	background-color: #00ADEE;
}

.form-box .footer {
	padding-top: 20px;
}

.admin_auth .alert {
	margin-left: auto;
	padding-left: 15px;
}

.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title,
.box .box-header > .box-tools {
	padding-top: 15px;
}

.box .box-header .box-title {
	margin-top: 5px;
}
.box.box-solid .box-header > .box-tools,
.box.box-solid .box-header .box-title {
	padding-top: 10px;
}

.box.box-solid .box-header .box-title {
	margin-top: 0;
}

.fa {
	margin-right: 2px;
}

.caption h3 {
	margin-top: 10px;
}

.table-responsive {
	border: none;
}

.panel-group {
	margin-bottom: 0;
}

.panel-group .panel {
	margin-bottom: 10px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #00c0ef;
	border-color: #00acd6;
}

.pagination>.active.disabled>a, .pagination>.active.disabled>span, .pagination>.active.disabled>a:hover, .pagination>.active.disabled>span:hover, .pagination>.active.disabled>a:focus, .pagination>.active.disabled>span:focus {
	background-color: rgba(0, 0, 0, 0.0470588);
	border-color: rgb(221, 221, 221);
}

.panel-group a[data-toggle="collapse"] .collapse-icon-header {
	background: url('/assets/images/plus-icon-header.png') 0 16px;
	display: block;
	width: 16px;
	height: 16px;
}

.panel-group a[data-toggle="collapse"].collapsed .collapse-icon-header {
	background: url('/assets/images/plus-icon-header.png') 0 0;
}

.alert {
	padding-left: inherit;
	margin-left: auto;
}

hr {
	border-top: 1px solid #dbdbdb;
}

.btn-group>.btn:last-child {
	margin-left: 0;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: 75px;
}

body {
	min-width: 320px;
}

.popover {
	min-width: 150px;
}

.no-margin {
	margin: 0;
}

.small-seperator {
	margin-top: 10px;
	margin-bottom: 10px;
}

/********************************************************************************
Helper Classes
*********************************************************************************/
.box.box-bordered {
	border: 1px solid #ddd;
	box-shadow: 0;
}

.box.box-solid.box-gray {
	border-top-color: #ddd;
}

.box.box-solid.box-gray > .box-header {
	background: #f5f5f5;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

.bg-dk-gray {
	background-color: #bbb;
}

.box.box-solid.box-dk-gray {
	border-top-color: #939393;
}

.box.box-solid.box-dk-gray > .box-header {
	background: #939393;
	background-color: #939393;
	border-bottom: 1px solid #939393;
	color: #fff;
}

 .box-title.smaller {
	font-size: 18px !important;
}

.no-pad-top {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.no-pad-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.standalone-btn-lg {
	margin-bottom: 20px;
}

.list-group.no-border {
	margin-bottom: 0;
}
.list-group.no-border .list-group-item {
	border: none;
	padding: 0;
	clear: both;
}
.list-group.no-border:last-child .list-group-item:last-child {
	margin-bottom: 0;
}

a.regular-link {
	color: #333;
}

a.regular-link:hover {
	color: #333;
	text-decoration: underline;
}

.no-radius {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

/********************************************************************************
Mailbox
*********************************************************************************/
.row#mailbox-header {
	margin-bottom: 15px;
	margin-top: 10px;
}

@media (max-width: 767px) {
	.row#mailbox-header {
		margin-top: 20px;
	}
}

label.check-all-label {
	margin-top: 6px;
}

/********************************************************************************
Menu Builder
*********************************************************************************/
.sortable,
.menu-sortable {
	margin-left: 0;
	padding-left: 0;
}

.sortable li,
.menu-sortable li {
	list-style: none;
}

.sortable .sortable-container,
.menu-sortable .sortable-container {
	border: 1px solid #d4d4d4;
	padding: 6px;
	margin: 5px;
	border-radius: 5px;
	font-size: 16px;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	overflow: hidden;
}

.menu-sortable .reorder-title {
	max-width: 65%;
}

.menu-sortable .menu-item-actions {
	border-left: 1px solid #d4d4d4;
	padding-left: 10px;
	max-width: 90px;
	min-width: 50px;
}

.menu-sortable div a {
	color: #333;
}

.placeholder {
	outline: 1px dashed #4183C4;
}

a.addpage {
	margin-left: 5px;
}

#page-list ul {
	padding-left: 20px;
}

/********************************************************************************
ICheck Plugin
*********************************************************************************/
.iradio_minimal,
.icheckbox_minimal {
	float: left;
	margin-right: 10px;
}

div.radio span.label-container,
div.checkbox span.label-container {
	float: left;
	margin-bottom: 10px;
	width: -moz-calc(100% - 28px);
	width: -webkit-calc(100% - 28px);
	width: -o-calc(100% - 28px);
	width: calc(100% - 28px);
}

span.label-container {
	margin-top: -2px;
}

.radio-inline, .checkbox-inline {
	padding-left: 0;
	padding-right: 20px;
}