@media screen and (min-width: 992px) {
	.left-side {
		top: 70px;
	}
}

body.fixed .wrapper {
	margin-top: 70px;
}

body > .header .logo {
	line-height: 70px;
	height: 70px;
}

body > .header .Frat-logo {
	line-height: 70px;
	height: 70px;
}

body > .header .navbar {
	height: 70px;
}

body .sidebar-offcanvas {
	//margin-top: 70px;
}

body > .header .navbar .sidebar-toggle {
	margin-top: 18px;
}

.navbar-nav {
	margin-top: 10.5px;
}

.img-thumbnail {
	margin-bottom: 10px;
}

.mt-0 {
	margin-top: 0;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.pt-15 {
	padding-top: 15px;
}
.mt-30 {
	margin-top: 30px;
}

.mb-0 {
	margin-bottom: 0;
}
.mb-30 {
	margin-bottom: 30px;
}

.mr-10 {
	margin-right: 10px;
}

.img-responsive {
	width: 100%;
}

.alert {
	overflow: hidden;
}

.picker thead {
	background: transparent;
}

.picker th {
	text-align: center;
}

.picker select {
	height: 60px;
}

/********************************************************************************
South by Sea Color Swatches
*********************************************************************************/
.color-swatch-admin {
	height: 60px; width: 60px; display: block; margin-bottom: 40px;
}

.color-swatch-dropdown {
	display: block;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	float: left;
}

.color-image-dropdown {
	margin-right: 5px;
	height: 20px;
}

.color-swatch {
	height: 20px;
	width: 20px;
}

.image-preview {
	max-height: 50px;
}

/********************************************************************************
Buttonless Wysiwyg
*********************************************************************************/
.trumbowyg-box, .trumbowyg-editor {
	margin: 0;
	width: 100%;
}
.trumbowyg-editor, .trumbowyg-textarea {
	padding: 1% 1%;
}
.trumbowyg-box, .trumbowyg-editor {
	min-height: 150px;
}

/********************************************************************************
Various Forms
*********************************************************************************/
.upload-container {
	border: 2px dotted #999;
	padding: 15px 10px;
	background: #fff;
}

.upload-container.no-style {
	padding: 0;
	border: 0;
	background: transparent;
	display: inline;
}

.draggable:hover {
	cursor: move;
}

.form-group > .radio label,
.form-group > .checkbox label {
	padding-left: 0;
}


#mailbox-search-form .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}

#mailbox-search-form .dropdown-menu label {
	display: block;
}

#mailbox-search-form .dropdown-menu .form-group {
	clear: both;
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    #mailbox-search-form .dropdown-menu {
        min-width: 300px;
    }
}

/********************************************************************************
Potentials
*********************************************************************************/
.accordian-toggle {
	display: block;
	padding: 3px 15px;
	//background: #e3e3e3;
	margin-top: 10px;
}
.accordian-toggle h4 {
	font-size: 18.5px;
	margin: 0;
}
.accordian-toggle h4,
.accordian-toggle h4 small {
	color: #333;
	font-family: "Open Sans light",sans-serif;
}
.accordian-toggle .glyphicon {
	color: #666;
}
.accordian-result {
	padding: 10px 15px;
}
.potentials-table thead {
	background: #F4F4F4;
}
.show-dropdown {
	margin-left: 20px;
}
.show-dropdown .form-control {
	display: inline;
	width: auto;
}
.show-dropdown label {
	font-size: 12px;
}

#add-expense-form {
	clear: both;
	overflow: auto;
	padding: 20px 0;
	border: 1px solid #ddd;
	box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 6px;
	margin-bottom: 30px;
	background-color: #fff;
}
#order-form-container label {
	font-weight: normal;
	color: #666;
}
#order-form-container legend {
	font-size: 15.5px;
	font-family: "Open Sans light",sans-serif;
}
#add-expense-form .form-group {
	margin-bottom: 0;
}
table.potentials-table th:first-child {
	width: 50px;
}
.note-title {
	font-style: italic;
	display: block;
}

/********************************************************************************
Potential Comments
*********************************************************************************/
#notes-container {
	margin-top: 20px;
}
#comments-container {
	margin-top: 30px;
}
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 6px;
}
.panel-white {
	border: 1px solid #dddddd;
}
.panel-white .panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  text-decoration: underline;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}

.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}

.post .post-description span {
	display: block;
}
.post .post-description .note-attachments {
	margin-top: 20px;
	margin-bottom: 5px;
}

/********************************************************************************
Potentials Attachments
*********************************************************************************/
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}
.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-heading {
	margin-bottom: 10px;
}
/********************************************************************************
Potentials Reporting
*********************************************************************************/
.jstree-node {
    font-size: 18px;
}

#field-container > li {
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

#field-container > li a {
	color: #333;
}

/********************************************************************************
Ecommerce Pages
*********************************************************************************/
.ecommerce-order {
	background: #fff;
	border: 1px solid #dbdbdb;
	padding: 20px;
	overflow: hidden;
}
.acct_mgr_select label {
	margin-left: 10px;
	font-weight: normal;
}
